<footer style="text-align:center; padding:20px; color:#888; border-top:1px solid #eee;">

    <p>Joyful Task Manager!</p>
    <p>Deborah Hanson</p>
    <p>CSCI 213 Web Programming</p><br>
    <img src="/joy.jpg" alt="Joy image">
</footer>
 