<nav class="navbar">
  <a class="nav-btn" href="/">Home</a>
  <a class="nav-btn" href="/create">Create a Task</a>
  <a class="nav-btn" href="/tasks">View All Tasks</a>
  <a class="nav-btn" href="/delete">Delete a Task</a>
</nav>
